
.add-employee{
    max-width:1024px;
    height: 100px;
    background: linear-gradient(rgba(164, 60, 164, 0.707),#cb0ecb,pink);
    color: rgb(74, 4, 70);
    font-size: 18px;
    padding:20px;
    margin-top:40px;
    border-radius:30px ;
    input{
        width: 75%;
        padding: 10px;
        border-radius:15px 0 0 15px;
    }
    button{
        width:10%;
        padding: 10px;
    }
    .btn{
        color: red;
        width:100px;
        padding: 10px;
    }
}