
.app-employee-list{
    margin-top: 30px;
    color:white;
    justify-content: space-around;
    padding:20px;
    align-items:center;
    max-width:100%;
    min-height:200px;
    background: rgb(180, 16, 150);
    border-radius: 15px;
}